body{
    font-family:Arial;
    background:linear-gradient(135deg,#2563eb,#1e293b);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0;
}

.container{
    width:100%;
}

.box{
    width:350px;
    background:#fff;
    padding:30px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.3);
}

.box h2{
    margin-bottom:20px;
}

.box input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:8px;
}

.box button{
    width:100%;
    padding:12px;
    background:#2563eb;
    color:#fff;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.box button:hover{
    background:#1e40af;
}

#toggleText{
    margin-top:15px;
    font-size:14px;
}

#toggleText span{
    color:#2563eb;
    cursor:pointer;
    font-weight:bold;
}